ANTHROPIC_API_KEY=
GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=
GITHUB_OAUTH_REDIRECT_URI=http://127.0.0.1:8000/oauth/github/callback
GITHUB_OAUTH_SCOPES=read:user,user:email,public_repo,repo
TEMPORAL_API_KEY=
TEMPORAL_NAMESPACE=
TEMPORAL_ENDPOINT=
TEMPORAL_TLS=
